## Cache files
*.cache

## 
.config/sublime-text-2/Settings/License.sublime_license
.config/sublime-text-2/Settings/Session.sublime_session
.config/sublime-text-2/Packages/User/Package Control.last-run
